html body {
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  margin: 0;
}

.bg-navbar {
  /* background: linear-gradient( 88deg , #13b4ca, #18cabe); */
  background: linear-gradient(to right, #47aabd 0%, #049ab8 100%);
  padding-bottom: 0px;
  height: 70px;
}

.layout-top-nav .wrapper .main-header .brand-image {
  height: 45px;
}

.navbar-brand .brand-text{
  font-size: 30px;
}

.navbar-nav li {
  font-size: 18px;
}

.check-box-block {
  padding-top: 90px;
  font-size: 14px;
  font-weight: bolder;
}

.upload-btn {
  padding-top: 40px;
  padding-left: 10px;
}

.generate-btn {
  padding-top: 75px;
  padding-left: 10px;
}


li.active {
  font-weight: bold;
  background-color: #75C2D1;
}

.sample, .upload, #barcode-details{
  display: none;
}

ol {
  counter-reset: item;
  list-style-type: none;
  line-height: 2.2;
  margin-left: -40px;
}

ol li {
  list-style-type: none;
  counter-increment: item;
}

ol li span {
  margin-left: 5px;
}

ol li:before {
  content: counter(item);
  margin-right: 5px;
  background-color: #3FA3BA;
  color: #ffffff;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}
  
tfoot {
  display: table-header-group;
}


.form-group label {
  text-transform: uppercase;
  padding:5px;
}

.form-group label.mandatory:after {
  color: #e32;
  content: ' *';
  display:inline;
}

.wrapper-divider {
  position: relative;
  border: 1px dashed #ccc;
}

.divider {
  height: 112px;
  display: flex;
  justify-content: center;
}

.or-separator {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d3d7da;
}

.vertical-line {
  border-left: 2px solid #3A9DB9;
  padding-left: 20px;
}

.vertical-line1 {
  border-left: 5px solid #3A9DB9;
  padding-left: 20px;
}

a.btn.disabled {
  cursor:not-allowed;
  opacity: 0.6;
}

.modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}


.loader,
.loader:before,
.loader:after {
  background: #28af82;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #28af82;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 10px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.log-list{
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
} 

.log-items {
    background: gainsboro;
    @extend %boxshadow: ;
    margin-top: 1rem;
    padding: 0.2rem 1rem 0.1rem 1rem;
}

.list-group-item {
  padding: 0.5rem 0rem 0rem 0.3rem;
}

.btn {
  font-size: 12px;
}

.custom-select {
  font-size: 14px;
}

.form-control {
  font-size: 14px;
}

.job_flow_status {
  list-style: none;
  padding: 0px;
  column-count: 5;
  margin: 0px;
}

.job_flow_status li {
  display: grid;
}

.analysis-status-ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.analysis-status-ul li {
  padding: 5px;
}

.cursor-disable{
  cursor: auto;
  pointer-events: none;
}